* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none !important;
    color: inherit !important;
}

body {
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    scroll-behavior: smooth;
}

/********************Debut Communes********************/
.titre-commune {
    margin: 50px 0 130px;
    display: flex;
    justify-content: center;
    color: #000000;
    font-family: Comfortaa;
    font-size: 35px;
    font-weight: 400;
}

.titre-commune::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 50%;
    background: rgba(0, 0, 0, 0.308);
    top: 20px;
}

.nos-communes {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-bottom: 150px;
}

#img-carte {
    width: 35%;
}

.description-choix {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

#boite-bouton {
    display: flex;
    margin: 18px 0;
}

#choix-agglo {
    position: relative;
    bottom: 75px;
    margin: 0 auto;
    text-align: center;
    border-radius: 50px;
    width: 20%;
    background: #FFF;
    height: 30px;
    color: #000;
    font-family: Comfortaa;
    font-weight: bold;
    cursor: pointer;
}

#description-commune {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    border-radius: 30px;
    background: #F0EDED;
    max-height: 365px;
    overflow: hidden;
    width: 55%;
    transition: max-height 0.3s ease-in-out;
}

#description-commune h4 {
    text-align: center;
    margin: 15px 0;
    color: #538E52;
    font-family: Comfortaa;
    font-size: 35px;
    font-weight: 700;
}

#description-commune p,
.liste-clef {
    display: flex;
    margin: 0 12px;
    color: #585858;
    font-family: Comfortaa;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
}

.liste-clef  {
    flex-direction: column;
}

.contact-ville {
    flex-direction: column;
    text-align: center;
}

.lien-commune {
    cursor: pointer;
    margin-bottom: 12px;
    color: #007FFF !important;
    text-decoration: underline !important;
}

#description-commune button {
    margin: 0 auto;
    background-color: #538E52;
    border: none;
    width: 35%;
    padding: 5px;
    border-radius: 20px;
    color: #FFF;
    font-family: Comfortaa;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
}

#description-commune button:hover {
    background-color: #558154;
}

#description-commune img {
    position: relative;
    left: 5px;
}

@media screen and (max-width: 1750px) {
    #description-commune {
        max-height: 390px;
    }
}

@media screen and (max-width: 1715px) {
    #description-commune {
        max-height: 410px;
    }
}

@media screen and (max-width: 1458px) {
    #description-commune {
        width: 82%;
        max-height: 345px;
    }

    #choix-agglo {
        width: 30%;
    }
}

@media screen and (max-width: 1377px) {
}

@media screen and (max-width: 1347px) {
    #description-commune {
        /* background-color: red; */
    }
}

@media screen and (max-width: 1700px) {
    #description-commune {
        /* background-color: red; */
    }
}
/********************Fin Communes********************/

/********************Debut Footer********************/
footer {
    position: relative;
    /* top: 100%; */
    border-top: 1px solid #ffffff;
    width: 100%;
    background-color: #585858;
    color: rgb(255, 255, 255);
    flex-shrink: 0;
}

.newsletter,
.liste-liens,
.container-footer {
    display: flex;
}

.newsletter p,
.liste-liens,
.container-adresse p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container-footer {
    align-items: center;
}

.container-adresse {
    padding: 30px;
}

.container-adresse img {
    width: 25%;
    margin-top: 30px;
}

.logo-footer {
    position: relative;
    display: flex;
    align-items: center;
    bottom: 20px;
}

.logo-footer p {
    margin-left: 20px;
    margin-top: 15px;
    font-size: 25px;
}

.container-adresse::after {
    content: "";
    position: absolute;
    top: 12%;
    left: 18%;
    height: 75%;
    width: 2px;
    background-color: #ffffffb9;
}

.newsletter {
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

.newsletter p {
    margin-right: 10px;
    font-size: 25px;
}

.newsletter input,
.newsletter button {
    position: relative;
    bottom: 4px;
}

.newsletter button {
    width: 9%;
    border-radius: 10px;
    background-color: #538E52;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: all 0.3s ease;
    border: none;
    position: relative;
    margin-left: 15px;
    cursor: pointer;
}

.newsletter button:active {
    transform: translateY(2px);
    box-shadow: none;
}

.newsletter button:focus {
    outline: none;
}

.newsletter button:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background-color: #2b6d234b;
    border-radius: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: all 0.5s ease;
}

.newsletter button:hover:after {
    width: 210px;
    height: 200px;
    opacity: 1;
}

.test {
    display: flex;
    justify-content: start;
    text-align: start;
}

.container-liens {
    position: relative;
    left: 20%;
}

.liste-liens li {
    list-style-type: none;
    position: relative;
    margin-right: 30px;
}

.liste-liens li::after {
    content: "";
    position: absolute;
    background-color: #ffffff9c;
    width: 15px;
    height: 1px;
    bottom: 8px;
    left: 108%;
}

.liste-liens li:hover {
    color: #538E52;
}

#dernier-li::after {
    display: none;
}

/*Pour centrer le trait a droite du contact*/
#troisieme-li::after {
    left: 115%;
}

@media screen and (max-width: 1295px) {
    .container-adresse::after {
        left: 25%;
    }

    .container-liens {
        left: inherit;
    }
}

@media screen and (max-width: 1069px) {
    .container-liens {
        right: 9%;
    }
}

@media screen and (max-width: 951px) {
    .container-footer {
        flex-direction: column;
    }

    .container-adresse {
        display: flex;
        position: relative;
    }

    .container-adresse::after {
        height: 2px;
        width: 90%;
        left: 5%;
        top: 90%;
    }

    .container-liens {
        right: inherit;
        left: 25px;
    }

    .newsletter {
        margin-bottom: 50px;
        margin-top: 30px;
    }

    .container-liens {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 590px) {
    .newsletter {
        flex-direction: column;
    }

    .container-liens {
        left: inherit;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .liste-liens {
        justify-content: center;
        flex-wrap: wrap;
    }

    #dernier-li {
        margin-right: inherit;
    }

    .newsletter p,
    .newsletter input {
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 537px) {
    .adresse {
        position: relative;
        text-align: center;
    }

    .logo-footer {
        justify-content: center;
    }

    .container-adresse {
        flex-direction: column;
        justify-content: center;
    }

    .container-adresse::after {
        top: 100%;
    }
}

@media screen and (max-width: 507px) {
    #avant-dernier-li::after {
        display: none;
    }
}

@media screen and (max-width: 457px) {
    #avant-dernier-li::after {
        display: block;
    }

    #troisieme-li {
        margin-right: 16px;
    }

    #troisieme-li::after {
        display: none;
    }

    .newsletter button {
        width: 12%;
    }
}

/********************Fin Footer********************/