* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    scroll-behavior: smooth;
}

/********************Debut Footer********************/
footer {
    position: relative;
    top: 100%;
    border-top: 1px solid #ffffff;
    width: 100%;
    background-color: #585858;
    color: rgb(255, 255, 255);
    flex-shrink: 0;
}

.newsletter,
.liste-liens,
.container-footer {
    display: flex;
}

.newsletter p,
.liste-liens,
.container-adresse p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container-footer {
    align-items: center;
}

.container-adresse {
    padding: 30px;
}

.container-adresse img {
    width: 25%;
    margin-top: 30px;
}

.logo-footer {
    position: relative;
    display: flex;
    align-items: center;
    bottom: 20px;
}

.logo-footer p {
    margin-left: 20px;
    margin-top: 15px;
    font-size: 25px;
}

.container-adresse::after {
    content: "";
    position: absolute;
    top: 18%;
    left: 18%;
    height: 70%;
    width: 2px;
    background-color: #ffffffb9; 
}

.newsletter {
    align-items: center;
    margin-bottom: 100px;
}

.newsletter p {
    margin-right: 10px;
    font-size: 20px;
}

.newsletter input {
    margin-top: 5px;
}

.newsletter img {
    position: relative;
    top: 3px;
}

.newsletter button {
    width: 9%;
    border-radius: 10px;
    background-color: #538E52;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: all 0.3s ease;
    border: none;
    position: relative;
    margin: 3px 0 0 15px;
}

.newsletter button:active {
    transform: translateY(2px);
    box-shadow: none;
}

.newsletter button:focus {
    outline: none;
}

.newsletter button:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background-color: #2b6d234b;
    border-radius: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: all 0.5s ease;
}

.newsletter button:hover:after {
    width: 210px;
    height: 200px;
    opacity: 1;
}

.container-liens {
    position: relative;
    left: 20%;
}

.liste-liens li {
    position: relative;
    margin-right: 30px;
}

.liste-liens li::after {
    content: "";
    position: absolute;
    background-color: #ffffff9c;
    width: 15px;
    height: 1px;
    bottom: 8px;
    left: 108%;
}

#dernier-li::after {
    display: none;
}

/*Pour centrer le trait a droite du contact*/
#troisieme-li::after{
    left: 115%;
}
/********************Fin Footer********************/