* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    list-style-type: none;
}

body {
    font-family: 'Segoe UI';
    height: 100vh;
    background-color: #D9D9D9;
    scroll-behavior: smooth;
}

a {
    text-decoration: none !important;
    color: inherit;
}

/* ------------------------------------------------ DEBUT IMAGE DE BACKGROUND ------------------------------------------------ */
header {
    height: 100vh;
    width: 100%;
    background-image: url(../img/cathedrale.jpg);
    background-size: cover;
}

/* ------------------------------------------------ FIN IMAGE DE BACKGROUND ------------------------------------------------ */

/* ------------------------------------------------ DEBUT DE LA NAVBAR ------------------------------------------------ */
.navbar {
    padding: 0 15px;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar.sticky {
    background: rgba(30, 57, 112, 0.959);
    position: fixed;
    z-index: 10;
    transition: 1s;
}

.navbar .nav-links {
    display: flex;
}

/* Ciblage des icônes à droite*/
.navbar .nav-links ul {
    display: flex;
    margin-top: 30px;
}

/* Ciblage de chaque icône*/
.navbar .nav-links ul li {
    margin: 0 12px;
}

.v-line {
    border-left: 3px solid white;
    height: 80%;
    margin-left: 12px;
    margin-right: 12px;
}

/* -------- DEBUT DE LA BARRE DE RECHERCHE ----------- */

.search {
    display : flex;
    align-items: center;
    margin-right: 10px;
}

.search input { /* Ciblage de la barre de recherche */
    width : 280px;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 13px;
    border-color: white;
    border-style: none;
    background-color: white;
    font-size: 16px;
    letter-spacing: .8px;
}

.search i { /* Ciblage de la loupe */
    position: absolute;
    margin: 240px;
    padding-bottom: 10px;
}

@media screen and (max-width: 980px) {
    .nav-links ul li:not(:last-child):not(:first-child),
    .v-line,
    header h1 {
        display: none;
    }

    #hamburger {
        width: 95%;
        margin-bottom: 30px;
    }

    .search {
        position: absolute;
        top: 360px;
        width: 30%;
        left: 35%;
    }
}

@media (max-width: 890px) {
    .search {
        width: 300px;
    }
}

@media (max-width: 630px) {
    .search {
        top: 210px;
        width: 350px;
        left: 25%;
    }
}

@media (max-width: 470px) {
    #logo-chartres {
        margin-top: 15px;
        width: 100%;
        height: auto;
    }

    .navbar a {
        width: 50%;
        margin-bottom: 30px;
    }

    #hamburger {
        width: 80%;
    }

    .search {
        width: 250px;
        left: 18%;
    }

    .search input {
        width: 600px;
    }
}

/* -------- FIN DE LA BARRE DE RECHERCHE ----------- */

/* -------- DEBUT DES LOGO ANIMES ----------- */
#btn_linkedin {
    width: 36px;
    height: 36px;
    display: block;
    background: url("../img/logo_linkedin.png") no-repeat;
}

#btn_linkedin:hover {
    background-image: url("../img/linkedin.png");
}

#btn_facebook {
    width: 36px;
    height: 36px;
    display: block;
    background: url("../img/logo_facebook.png") no-repeat;
}

#btn_facebook:hover {
    background-image: url("../img/facebook.png");
}

#btn_flux {
    width: 36px;
    height: 36px;
    display: block;
    background: url("../img/logo_flux.png") no-repeat;
}

#btn_flux:hover {
    background-image: url("../img/rss.png");
}

/* -------- FIN DES LOGO ANIMES ----------- */

/* ---------------------------------------------- DEBUT ANIMATION MENU HAMBURGER ------------------------------------------------ */

.conteneur {
    position: fixed;
    z-index: 10;
    width: 25%;
    height: 87.7%;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(30, 57, 112, 0.959);
    transform: translateX(100%);
    transition: transform 0.6s cubic-bezier(0.73, 0.11, 0.67, 0.84);
}

.conteneur.active { 
    transform: translate(0);
}

.conteneur a {
    color: #ffffffed;
    font-size: 20px;
    display: block;
    margin: 35px 0;
    text-decoration: none;
}

.conteneur-toggler {
    z-index: 15;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: transparent;
}

.line {
    position: absolute;
    z-index: 15;
    display: block;
    width: 2.3%;
    height: 2.5px;
    background: #ffffff;
    transition: transform 0.3s ease-out;
    opacity: 0.1s ease-out;
}

.l1 {
    transform: translateY(-12px)
}
.l3 {
    transform: translateY(12px)
}

.conteneur-toggler.active .l1 {
    transform: translateY(0px) rotate(135deg);
    background-color: rgb(152, 35, 35);
}
.conteneur-toggler.active .l2 {
    opacity: 0;
}
.conteneur-toggler.active .l3 {
    transform: translateY(0px) rotate(-135deg);
    background-color: rgb(152, 35, 35);
}

/* ------------------------------------------------ FIN ANIMATION MENU HAMBURGER ------------------------------------------------ */

/* ------------------------------------------------ FIN DE LA NAVBAR ------------------------------------------------ */

/* --------------------------------------- DEBUT DE LA BARRE D'ACCES RAPIDE ----------------------------------------- */
.acces {
    display: flex;
    position: absolute;
    height: 22%;
    width: 50%;
    left: 25%;
    top: 70%;
    justify-content: center;
    align-items: center;
    background-color: #ffffffed;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.955);
}

.acces ul {
    text-align: center;
    margin: 0px 21px;
    padding-top: 20px;

}

.acces ul img {
    margin-bottom: 13px;
}

.acces ul img:hover {
    transform: scale(1.13);
}

.acces ul p a {
    transition: color 1s;
    color: #3858bbed;
}

.acces ul p a:hover {
    color: green;
}

/*----------Pour aligner verticalement les images-----*/
.acces ul:first-of-type img,
.acces ul:last-of-type img {
    margin-bottom: 15px;
}

.acces ul:first-of-type p {
    margin-bottom: 25px;
}

.acces ul:last-of-type p {
    margin-bottom: 35px;
}


@media screen and (max-width: 1420px) {
    .acces {
        justify-content: space-around;
    }

    .acces ul {
        margin-left: 0;
        margin-right: 0;
    }
}

@media screen and (max-width: 1080px) {
    .acces {
        width: 75%;
        left: 15%;
    }
}

@media screen and (max-width: 700px) {
    .acces {
        width: 80%;
        left: 10%;
    }
}

@media screen and (max-width: 630px) {
    .acces {
        flex-wrap: wrap;
        height: 320px;
        top: 50%;
    }

    .acces ul {
        padding: 0 15px;
    }
}

/* ----------------------------------------- FIN DE LA BARRE D'ACCES RAPIDE ----------------------------------------- */

/* ----------------------------------------- DEBUT TEXTE ANIME ----------------------------------------- */
header h1 {
    position: absolute;
    top: 35%;
    left: 53%;
    width: 37%;
    font-family: "Gill Sans", "Gill Sans MT", sans-serif;
    font-style: italic;
    font-weight: 250px;
    font-size: 40px;
    letter-spacing: 1px;
    color: #415192ab;
}

@media screen and (max-width: 1420px) {
    header h1 {
        left: 4%;
    }
}

@media screen and (max-width: 1080px) {
    header h1 {
        left: 15%;
    }
}

@media screen and (max-width: 730px) {
    header h1 {
        left: 35%;
        width: 40%;
    }
}


/* ----------------------------------------- FIN TEXTE ANIME ----------------------------------------- */

/* ----------------------------------------- DEBUT BOUTON REMONTER ----------------------------------------- */

#remonter {
    display: flex;
    align-items: center;
    position: fixed;
    right: 2%;
    bottom: 3%;
    cursor: pointer;
}

/* ----------------------------------------- FIN BOUTON REMONTER ----------------------------------------- */

/* -------------------------------------------- PROPRIETES ACTUS/AGENDA ---------------------------------------------- */

#titre_magazine, #titre_actualites {
    color: black;
    text-align: center;
    width: 40%;
    float: left;
    height: 2em;
    font-size: 1.25em;
}

#agenda, #actualites {
    margin: 5% 10% 5% 10%;
    border-radius: 20px;
}

#agenda {
    height: 400px;
}

#actualites {
    height: 600px;
}


/* ---------------------------------------------- TITRES AGENDA/ACTUS ------------------------------------------------ */
#titre_magazine {
    margin-left: 10%;
    width: 37.5%;
}

#titre_actualites {
    margin-right: 10%;
    margin-left: 2.5%;
}

#titre_agenda {
    text-align: center;
    padding: 5% 10% 0 10%;
}

/* ---------------------------------------------- IMAGES AGENDA/ACTUS ------------------------------------------------ */
.image_agenda, .image_actu {
    border-radius: inherit;
    height: 50%;
}

.image_agenda {
    width: 100%;
}

.image_actu {
    width: 96%;
    padding: 2%;
}

.image_agenda p, .image_actu p {
    border-radius: inherit;
    padding: 0.25em 0.5em 0.25em 0.5em;
    width: fit-content;
    position: relative;

    left: 2%;
}

.image_agenda p {
    background-color:  #f0eded;
    border: solid black 0.05em;
    bottom: 2.5em;
    color: #000000;
}

.image_actu p {
    background-color: #538e52;
    border: solid white 0.05em;
    bottom: 3.5em;
    color: #ffffff;
}

.image_agenda img, .image_actu img  {
    border-radius: inherit;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* ----------------------------------------------- TEXTE ACTUS/AGENDA ------------------------------------------------ */
#actualites .texte_actus h1, #actualites .texte_actus p {
    overflow: hidden;
    margin: 0 2% 2% 2%;
}

#actualites .texte_actus h1 {
    font-size: 150%;
    color: #538e52;
}

#actualites .texte_actus p {
    font-size: 100%;
    color: #585858;
}

#agenda .texte_agenda h1, #agenda .texte_agenda h2 {
    padding: 2% 2% 2% 2%;
    text-align: center;
    max-height: 4vh;
    font-size: 150%;
}

#agenda .texte_agenda h1 {
    color: #585858;
    font-weight: bold;
}

#agenda .texte_agenda h2 {
    color: #585858;
    font-weight: lighter;
}

.texte_agenda, .texte_actus {
    height: 50%
}

/* ----------------------------------------------- BLOCS D'ACTUALITES ------------------------------------------------ */
#agenda > *, #actualites > * {
    border-radius: inherit;
    background-color: #ffffff;
    float: left;
}

#agenda > *:hover, #actualites > *:hover {
    background-color: #efefef;
}

#grand_journal {
    background-color: transparent;
    margin-right: 3%;
    height: 100%;
    min-width: 47%;
}

#image_journal {
    object-fit: scale-down;
    width: 96%;
    height: 96%;
    padding: 2%;
}

#moyenne_actualite {
    margin: 0 0 1% 1%;
    width: 48%;
    height: 47%;
}

#petite_actualite_1 {
    margin: 1% 1% 0 1%;
    width: 23%;
    height: 48%;
}

#petite_actualite_2 {
    margin: 1% 0 1% 1%;
    width: 23%;
    height: 37%;
}

/* ------------------------------------------------ BLOCS DE L'AGENDA ------------------------------------------------ */
#grand_agenda {
    border-radius: inherit;
    margin-right: 1%;
    height: 100%;
    width: 49%;
}

#moyen_agenda_1 {
    border-radius: inherit;
    margin: 0 1% 0 1%;
    width: 23%;
    height: 100%;
}

#moyen_agenda_2 {
    border-radius: inherit;
    margin: 0 0 0 1%;
    width: 23%;
    height: 89%;
}
/* ------------------------------------------- BOUTON PLUS D'ACTUS / AGENDA ------------------------------------------ */
button { all: unset }

#plus_actus, #plus_agenda {
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    font-family: Arial, sans-serif;

    background-color: #538e52;

    margin: 1% 0 0 1%;
    width: 23%;
    height: 6%;
}

#plus_actus:hover, #plus_agenda:hover {
    outline: revert;
    background-color: #53ae52;
}
/* -------------------------------------------------- FIN ACTUS/AGENDA ----------------------------------------------- */
/*-----------------------------------------Debut Chiffre cles-----------------------------------------*/
#container-liste {
    background-color: white;
}

#liste-chiffre {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

#liste-chiffre li {
    text-decoration: none;
    text-align: center;
    font-size: 55px;
    line-height: 35px;
    margin: 30px 0;
    font-family: Croissant One;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #585858;
}

#liste-chiffre p {
    font-size: 25px;
    padding-bottom: 15px;
    border-bottom: 1px solid #538e52a7;
    color: #585858;
    font-family: Comfortaa;
}

@media screen and (max-width: 720px) {
    #liste-chiffre {
        flex-direction: column;
    }

    #liste-chiffre li {
        flex-direction: column;
        width: 50%;
        margin: 30px auto;
    }

    #titre-chiffre {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 422px) {
    #liste-chiffre li:nth-child(2) {
        font-size: 50px;
    }
}

/*-----------------------------------------Fin Chiffre cles-----------------------------------------*/

/*-----------------------------------------Debut Communes-----------------------------------------*/
.titre {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.titre-commune {
    color: #28294C;
    font-family: Comfortaa;
    font-size: 35px;
    font-weight: 400;
    margin: 40px auto;
    border-top: 1px solid hsla(0, 0%, 0%, 0.381);
    padding-top: 40px;
    width: 65%;
}

iframe {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 1000px) {
    iframe {
        height: 180%;
    }

    .titre-commune {
        margin-bottom: 15px;
    }
}

/*-----------------------------------------Fin Communes-----------------------------------------*/

/*-----------------------------------------Debut Footer-----------------------------------------*/
footer {
    position: relative;
    border-top: 1px solid #ffffff;
    width: 100%;
    background-color: #222D53;
    color: rgb(255, 255, 255);
    flex-shrink: 0;
}

.newsletter,
.liste-liens,
.container-footer {
    display: flex;
}

.newsletter p,
.liste-liens,
.container-adresse p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container-footer {
    align-items: center;
    justify-content: start;
}

.container-adresse {
    padding: 30px;
    margin-left: 50px;
}

.container-adresse img {
    width: 55%;
    margin-top: 15px;
}

.logo-footer {
    position: relative;
    display: flex;
    align-items: center;
    bottom: 20px;
}

.logo-footer p {
    margin-left: 20px;
    margin-top: 15px;
    font-family: Comfortaa;
}

.container-adresse::after {
    content: "";
    position: absolute;
    top: 12%;
    left: 23%;
    height: 75%;
    width: 2px;
    background-color: #ffffffb9;
}

.newsletter {
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.newsletter p {
    width: 37%;
    margin-right: 40px;
    font-size: 25px;
}

.newsletter input {
    border-radius: 15px;
    width: 45%;
    height: 35px;
    border: none;
    padding-left: 15px;
    font-size: 15px;
}

.newsletter input,
.newsletter button {
    position: relative;
    bottom: 4px;
}

.newsletter button {
    width: 7%;
    border-radius: 10px;
    background-color: #538E52;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: all 0.3s ease;
    right: 75px;
    border: none;
    position: relative;
    cursor: pointer;
}

.newsletter button:active {
    transform: translateY(2px);
    box-shadow: none;
}

.newsletter button:focus {
    outline: none;
}

.newsletter button:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #2b6d234b;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s ease;
}

.newsletter button:hover:after {
    width: 210px;
    height: 200px;
    opacity: 1;
}

.liste-liens li {
    border-right: 1px solid #ffffffb9;
    margin-right: 30px;
    padding-right: 45px;
    font-size: 18px;
    font-family: Comfortaa;
}

#last {
    border: none;
}

.liste-liens li:hover {
    color: #538E52;
}

@media screen and (max-width: 1270px) {
    .container-adresse::after {
        left: 30%;
    }

    .newsletter p {
        font-size: 18px;
    }

    .liste-liens li {
        font-size: 13px;
    }

    .container-liens {
        position: relative;
        right: 60px;
    }
}

@media screen and (max-width: 1080px) {
    .container-footer {
        flex-direction: column;
    }

    .container-adresse {
        display: flex;
        position: relative;
    }

    .container-adresse::after {
        height: 2px;
        width: 90%;
        left: 5%;
        top: 90%;
    }

    .container-liens {
        right: inherit;
    }

    .newsletter {
        margin-bottom: 50px;
        margin-top: 30px;
    }

    .container-liens {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 690px) {
    .newsletter {
        flex-direction: column;
    }

    .container-liens {
        left: inherit;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .liste-liens {
        justify-content: center;
        flex-wrap: wrap;
    }

    .liste-liens li {
        margin-bottom: 20px;
    }

    .newsletter p {
        width: 50%;
        margin: 0 auto;
    }

    .newsletter input {
        margin-top: 15px;
        width: 52%;
    }

    .newsletter button {
        right: inherit;
        left: 120px;
        bottom: 48px;
        width: 9%;
    }

    .newsletter p,
    .newsletter input {
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 565px) {
    .adresse {
        position: relative;
        text-align: center;
    }

    .logo-footer {
        justify-content: center;
    }

    .container-adresse {
        flex-direction: column;
        justify-content: center;
    }

    .newsletter p {
        text-align: center;
        width: 80%;
    }

    .newsletter input {
        width: 60%;
    }

    .container-adresse::after {
        top: 95%;
    }

    .container-adresse {
        margin: inherit;
    }
}

@media screen and (max-width: 475px) {
    .newsletter button {
        width: 12%;
    }

    .newsletter input {
        width: 70%;
    }
}

@media screen and (max-width: 414px) {
    .newsletter button {
        width: 13%;
    }

    .newsletter input {
        width: 80%;
    }
}

/*-----------------------------------------Fin Footer-----------------------------------------*/