* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none !important;
    list-style: none;
    color: inherit !important;
}

body {
    background-color: #D9D9D9;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    scroll-behavior: smooth;
}
/*--------------------Debut Agglo presentation--------------------*/
.titre {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.titre-commune {
    color: #28294C;
    font-family: Comfortaa;
    margin: 40px auto;
    font-size: 35px;
    font-weight: 400;
    border-top: 1px solid rgba(0, 0, 0, 0.28);
    padding-top: 40px;
    width: 65%;
}

.titre p {
    background-color: rgba(255, 255, 255, 0.74);
    padding: 25px 10px;
    border-radius: 15px;
    width: 60%;
    margin: 0 auto;
    color: #585858;
    font-family: Comfortaa;
    font-size: 18px;
    font-style: normal;
    line-height: 35px;
}

#decouvrir {
    margin-bottom: 100px;
}

@media screen and (max-width: 500px) {
    .titre p {
        width: 85%;
        font-size: 15px;
    }
}
/*--------------------Fin Agglo presentation--------------------*/

/*--------------------Debut decouvrir--------------------*/
#cadre-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cadre {
    margin: 15px 50px;
    width: 25%;
    height: auto;
}

.cadre2 {
    margin: 15px 30px;
    width: 18%;  
    height: auto;
}

.cadre,
.cadre2 {
    text-align: center;
    border-radius: 9px;
    border: 1px solid rgb(136, 136, 136);
    padding: 10px; 
    background-color: #fff; 
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.cadre:hover, 
.cadre2:hover {
    transform: scale(1.05);
}

.cadre h3,
.cadre2 h3 {
    text-align: center;
    color: #538E52;
}

.cadre-image img {
    max-width: 100%; 
}

#cadre-container .cadre:nth-child(2) {
    height: 480px;
}

#cadre-container .cadre:nth-child(3) img{
    max-width: 80%;
}

.voir-plus {
    position: relative;
    margin: 0 auto;
    background-color: #538E52;
    border: none;
    width: 35%;
    padding: 5px;
    border-radius: 20px;
    color: #FFF;
}

#cadre-ligne2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 15px 10px;
}

@media screen and (max-width: 1230px) {
    .cadre2 {
        width: 20%;
    }

    .texte-cadre2 {
        display: none;
        height: auto;
    }
}

@media screen and (max-width: 1085px) {
    .cadre {
        width: 35%;
    }
}

@media screen and (max-width: 750px) {
    .cadre2 {
        width: 50%;
    }
}

@media screen and (max-width: 700px) {
    .voir-plus {
        width: 50%;
    }
}

@media screen and (max-width: 660px) {
    .cadre {
        width: 80%;
    }
}

@media screen and (max-width: 500px) {
    .cadre2,
    .cadre {
        width: 90%;
    }

    #cadre-container .cadre:nth-child(2) {
        height: auto;
    }

    #decouvrir {
        margin-bottom:  30px;
    }

    .texte-cadre1,
    .voir-plus {
        display: none;
    }
}

@media screen and (max-width: 460px) {
    #cadre-container .cadre:nth-child(2) {
       max-height: 430px;
    }
}

/*--------------------Fin decouvrir--------------------*/

/*-----------------------------------------Debut Footer-----------------------------------------*/
footer {
    position: relative;
    border-top: 1px solid #ffffff;
    width: 100%;
    background-color: #222D53;
    color: rgb(255, 255, 255);
    flex-shrink: 0;
}

.newsletter,
.liste-liens,
.container-footer {
    display: flex;
}

.newsletter p,
.liste-liens,
.container-adresse p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container-footer {
    align-items: center;
    justify-content: start;
}

.container-adresse {
    padding: 30px;
    margin-left: 50px;
}

.container-adresse img {
    width: 55%;
    margin-top: 15px;
}

.logo-footer {
    position: relative;
    display: flex;
    align-items: center;
    bottom: 20px;
}

.logo-footer p {
    margin-left: 20px;
    margin-top: 15px;
    font-family: Comfortaa;
}

.container-adresse::after {
    content: "";
    position: absolute;
    top: 12%;
    left: 23%;
    height: 75%;
    width: 2px;
    background-color: #ffffffb9;
}

.newsletter {
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.newsletter p {
    width: 37%;
    margin-right: 40px;
    font-size: 25px;
}

.newsletter input {
    border-radius: 15px;
    width: 45%;
    height: 35px;
    border: none;
    padding-left: 15px;
    font-size: 15px;
}

.newsletter input,
.newsletter button {
    position: relative;
    bottom: 4px;
}

.newsletter button {
    width: 7%;
    border-radius: 10px;
    background-color: #538E52;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: all 0.3s ease;
    right: 75px;
    border: none;
    position: relative;
    cursor: pointer;
}

.newsletter button:active {
    transform: translateY(2px);
    box-shadow: none;
}

.newsletter button:focus {
    outline: none;
}

.newsletter button:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #2b6d234b;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s ease;
}

.newsletter button:hover:after {
    width: 210px;
    height: 200px;
    opacity: 1;
}

.liste-liens li {
    border-right: 1px solid #ffffffb9;
    margin-right: 30px;
    padding-right: 45px;
    font-size: 18px;
    font-family: Comfortaa;
}

#last {
    border: none;
}

.liste-liens li:hover {
    color: #538E52;
}

@media screen and (max-width: 1270px) {
    .container-adresse::after {
        left: 30%;
    }

    .newsletter p {
        font-size: 18px;
    }

    .liste-liens li {
        font-size: 13px;
    }

    .container-liens {
        position: relative;
        right: 60px;
    }
}

@media screen and (max-width: 1080px) {
    .container-footer {
        flex-direction: column;
    }

    .container-adresse {
        display: flex;
        position: relative;
    }

    .container-adresse::after {
        height: 2px;
        width: 90%;
        left: 5%;
        top: 90%;
    }

    .container-liens {
        right: inherit;
    }

    .newsletter {
        margin-bottom: 50px;
        margin-top: 30px;
    }

    .container-liens {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 690px) {
    .newsletter {
        flex-direction: column;
    }

    .container-liens {
        left: inherit;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .liste-liens {
        justify-content: center;
        flex-wrap: wrap;
    }

    .liste-liens li {
        margin-bottom: 20px;
    }

    .newsletter p {
        width: 50%;
        margin: 0 auto;
    }

    .newsletter input {
        margin-top: 15px;
        width: 52%;
    }

    .newsletter button {
        right: inherit;
        left: 120px;
        bottom: 48px;
        width: 9%;
    }

    .newsletter p,
    .newsletter input {
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 565px) {
    .adresse {
        position: relative;
        text-align: center;
    }

    .logo-footer {
        justify-content: center;
    }

    .container-adresse {
        flex-direction: column;
        justify-content: center;
    }

    .newsletter p {
        text-align: center;
        width: 80%;
    }

    .newsletter input {
        width: 60%;
    }

    .container-adresse::after {
        top: 95%;
    }

    .container-adresse {
        margin: inherit;
    }
}

@media screen and (max-width: 475px) {
    .newsletter button {
        width: 12%;
    }

    .newsletter input {
        width: 70%;
    }
}

@media screen and (max-width: 414px) {
    .newsletter button {
        width: 13%;
    }

    .newsletter input {
        width: 80%;
    }
}
/*-----------------------------------------Fin Footer-----------------------------------------*/