* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body { 
    height: 100vh;
    scroll-behavior: smooth;
}

a {
    text-decoration: none !important;
    color: inherit;
}

/* ------------------------------------------------ DEBUT DE LA NAVBAR ------------------------------------------------ */
.navbar {
    padding: 0 15px;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar.sticky {
    background: rgba(30, 57, 112, 0.804);
    position: fixed;
    z-index: 10;
    transition: 1s;
}

.navbar .nav-links {
    display: flex;
}

/* Ciblage des icônes à droite*/
.navbar .nav-links ul {
    display: flex;
    margin-top: 30px;
}

/* Ciblage de chaque icône*/
.navbar .nav-links ul li {
    margin: 0 12px;
    list-style-type: none;
}

.v-line {
    border-left: 3px solid white;
    height: 80%;
    margin-left: 12px;
    margin-right: 12px;
}

.hamburger span {
    min-width: 35px;
 }

/* -------- DEBUT DE LA BARRE DE RECHERCHE ----------- */
.search {
    display : flex;
    align-items: center;
    margin-right: 10px;
}

.search input { /* Ciblage de la barre de recherche */
    width : 280px;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 13px;
    border-color: white;
    border-style: none;
    background-color: white;
    font-size: 16px;
    letter-spacing: .8px;
}

.search i { /* Ciblage de la loupe */
    position: absolute;
    margin: 240px;
    padding-bottom: 10px;
}

@media screen and (max-width: 980px) {
    .nav-links ul li:not(:last-child):not(:first-child),
    .v-line,
    header h1 {
        display: none;
    }
}

@media (max-width: 470px) {
    #logo-chartres {
        margin-top: 15px;
        width: 100%;
        height: auto;
    }

    .navbar a {
        width: 50%;
        margin-bottom: 30px;
    }

    .search {
        width: 250px;
        left: 18%;
    }

    .search input {
        width: 600px;
    }

    .hamburger {
        position: relative;
        bottom: 15px;
    }
}
/* -------- FIN DE LA BARRE DE RECHERCHE ----------- */

/* -------- DEBUT DES LOGO ANIMES ----------- */
#btn_linkedin {
    width: 36px;
    height: 36px;
    display: block;
    background: url("../img/logo_linkedin.png") no-repeat;
}

#btn_linkedin:hover {
    background-image: url("../img/linkedin.png");
}

#btn_facebook {
    width: 36px;
    height: 36px;
    display: block;
    background: url("../img/logo_facebook.png") no-repeat;
}

#btn_facebook:hover {
    background-image: url("../img/facebook.png");
}

#btn_flux {
    width: 36px;
    height: 36px;
    display: block;
    background: url("../img/logo_flux.png") no-repeat;
}

#btn_flux:hover {
    background-image: url("../img/rss.png");
}

/* -------- FIN DES LOGO ANIMES ----------- */

/* ---------------------------------------------- DEBUT ANIMATION MENU HAMBURGER ------------------------------------------------ */

.conteneur {
    position: fixed;
    z-index: 10;
    width: 25%;
    height: 87.7%;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(30, 57, 112, 0.959);
    transform: translateX(100%);
    transition: transform 0.6s cubic-bezier(0.73, 0.11, 0.67, 0.84);
}

.conteneur.active { 
    transform: translate(0);
}

.conteneur a {
    color: #ffffffed;
    font-size: 20px;
    display: block;
    margin: 35px 0px;
    padding: 10px;
    text-decoration: none;
    background: linear-gradient(to top, #538e52a7 0%, #7dc07ca7 10%, transparent 5%) no-repeat left bottom / 0 100%;
    transition: background-size .4s;

}

.conteneur a:hover {
    background-size: 100% 70%;
}

.conteneur-toggler {
    z-index: 15;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: transparent;
}

.line {
    position: absolute;
    z-index: 15;
    display: block;
    width: 2.3%;
    height: 2.5px;
    background: #ffffff;
    transition: transform 0.3s ease-out;
    opacity: 0.1s ease-out;
}

.l1 {
    transform: translateY(-12px)
}

.l3 {
    transform: translateY(12px)
}

.conteneur-toggler.active .l1 {
    transform: translateY(0px) rotate(135deg);
    background-color: rgb(152, 35, 35);
}

.conteneur-toggler.active .l2 {
    opacity: 0;
}

.conteneur-toggler.active .l3 {
    transform: translateY(0px) rotate(-135deg);
    background-color: rgb(152, 35, 35);
}

/* ------------------------------------------------ FIN ANIMATION MENU HAMBURGER ------------------------------------------------ */

/* ------------------------------------------------ FIN DE LA NAVBAR ------------------------------------------------ */

/* ----------------------------------------- DEBUT BOUTON REMONTER ----------------------------------------- */
#remonter {
    display: flex;
    align-items: center;
    position: fixed;
    right: 2%;
    bottom: 3%;
    cursor: pointer;
    z-index: 8;
}

@media screen and (max-width: 1400px) {
    #remonter {
        right: 3%;
    }
}
/* ----------------------------------------- FIN BOUTON REMONTER ----------------------------------------- */

/*----------------------------------------- DEBUT DU FOOTER -----------------------------------------*/
footer {
    position: relative;
    border-top: 1px solid #ffffff;
    width: 100%;
    background-color: #222D53;
    color: rgb(255, 255, 255);
    flex-shrink: 0;
}

.newsletter,
.liste-liens,
.container-footer {
    display: flex;
}

.container-footer {
    align-items: center;
    justify-content: start;
}

.container-adresse {
    padding: 30px;
    margin-left: 50px;
}

.container-adresse img {
    width: 55%;
    margin-top: 15px;
}

.logo-footer {
    position: relative;
    display: flex;
    align-items: center;
    bottom: 20px;
}

.container-adresse::after {
    content: "";
    position: absolute;
    top: 12%;
    left: 23%;
    height: 75%;
    width: 2px;
    background-color: #ffffffb9;
}

.newsletter {
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.newsletter p {
    width: 37%;
    margin-right: 40px;
    font-size: 25px;
}

.newsletter input {
    border-radius: 15px;
    width: 45%;
    height: 35px;
    border: none;
    padding-left: 15px;
    font-size: 15px;
}

.newsletter input,
#btn-news {
    position: relative;
    bottom: 4px;
}

#btn-news {
    width: 5%;
    border-radius: 10px;
    background-color: #538E52;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: all 0.3s ease;
    right: 75px;
    border: none;
    position: relative;
    cursor: pointer;
}

#btn-news:active {
    transform: translateY(2px);
    box-shadow: none;
}

#btn-news:focus {
    outline: none;
}

#btn-news:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #2b6d234b;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s ease;
}

#btn-news:hover:after {
    width: 210px;
    height: 200px;
    opacity: 1;
}

.liste-liens li {
    border-right: 1px solid #ffffffb9;
    margin-right: 30px;
    padding-right: 45px;
    font-size: 18px;
    list-style: none;
}

#last {
    border: none;
}

.liste-liens li:hover {
    color: #538E52;
}

@media screen and (max-width: 1270px) {
    .container-adresse::after {
        left: 30%;
    }

    .newsletter p {
        font-size: 18px;
    }

    .liste-liens li {
        font-size: 13px;
    }

    .container-liens {
        position: relative;
        right: 60px;
    }
}

@media screen and (max-width: 1080px) {
    .container-footer {
        flex-direction: column;
    }

    .container-adresse {
        display: flex;
        position: relative;
    }

    .container-adresse::after {
        height: 2px;
        width: 90%;
        left: 5%;
        top: 90%;
    }

    .container-liens {
        right: inherit;
    }

    .newsletter {
        margin-bottom: 50px;
        margin-top: 30px;
    }

    .container-liens {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 690px) {
    .newsletter {
        flex-direction: column;
    }

    .container-liens {
        left: inherit;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .liste-liens {
        justify-content: center;
        flex-wrap: wrap;
    }

    .liste-liens li {
        margin-bottom: 20px;
    }

    .newsletter p {
        width: 50%;
        margin: 0 auto;
    }

    .newsletter input {
        margin-top: 15px;
        width: 52%;
    }

    #btn-news {
        right: inherit;
        left: 120px;
        bottom: 48px;
        width: 9%;
    }

    .newsletter p,
    .newsletter input {
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 565px) {
    .adresse {
        position: relative;
        text-align: center;
    }

    .logo-footer {
        justify-content: center;
    }

    .container-adresse {
        flex-direction: column;
        justify-content: center;
    }

    .newsletter p {
        text-align: center;
        width: 80%;
    }

    .newsletter input {
        width: 60%;
    }

    .container-adresse::after {
        top: 95%;
    }

    .container-adresse {
        margin: inherit;
    }
}

@media screen and (max-width: 475px) {
    #btn-news {
        width: 12%;
    }

    .newsletter input {
        width: 70%;
    }
}

@media screen and (max-width: 414px) {
    #btn-news {
        width: 13%;
    }

    .newsletter input {
        width: 80%;
    }
}
/*----------------------------------------- FIN DU FOOTERr -----------------------------------------*/