body {
    background-color: #ededed;
}

.navbar {
    background: rgba(30, 57, 112, 0.804);
}

@media (max-width: 470px) {
    .search {
        display: none;
    }
}

/* ------------------------------------------------ DEBUT IMAGE DE BACKGROUND ------------------------------------------------ */
header {
    height: 100vh;
    width: 100%;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../img/transport/transport_banniere.jpg);
    background-size: cover;
}

/* ------------------------------------------------ FIN IMAGE DE BACKGROUND ------------------------------------------------ */

h4 {
    width: 320px;
    margin: 0 auto;
    display: flex;
    position: relative;
    font-size: 45px;
    text-align: center;
    top: 40%;
    color: white;
    letter-spacing: 3px;
}

.rechercher {
    width: 50%;
    display: flex;
    position: relative;
    left: 25%;
    top: 65%;
    color: #32427f;
}

#plus {
    width: 48.2%;
    position: relative;
    left: 25%;
    top: 53%;
    margin-top: .5%;
    font-size: 20.2px;
    font-style: italic;
    font-family: 'Arial Narrow Bold', sans-serif;
    color:#ffffff;
    text-align: right;

}

#plus :hover {
    color:#2447d5;
}

@media screen and (max-width: 690px) {
    #plus {
        font-size: 15.2px;
    }

}

.rechercher input { /* Ciblage de la barre de recherche */
    width : 100%;
    padding: 13px;
    border-radius: 20px;
    color: #32427f;
    border-color: rgb(255, 255, 255);
    border-style: none;
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    letter-spacing: 2px;
    box-shadow: 1.5px 2px 5px rgba(255, 255, 255, 0.955);
}

#titre {
    width: 90%;
    text-align: center;
    margin: 0 5%;
    font-size: 25px;
    border-bottom: 1px solid hsla(0, 0%, 0%, 0.381);
    padding-bottom: 2.3%;
    padding-top: 2.5%;
    letter-spacing: 1px;
}
 

#journal {
    margin-top: 2%;
    margin-left: 7%;
    float: left;
    width: 24%; /* problematique */
    height: 87%;
}

#titre_journal {
    width: 100%;
    font-size: 20px;
    color: #32427f;
    text-align: center;
}

#journal_image {
    height: 90%;
}

#journal_image:hover {
    opacity: 50%;
    transition: 1s;
}

@media screen and (max-width: 1316px) {
    #journal_image {
        height: 75%;
    }

    #journal {
        margin-top: 5%;
    }
}

@media screen and (max-width: 1150px) {
    #journal_image {
        height: 90%;
    }

    #journal {
        float: none;
        margin: 4.5% auto;
        width: 360px;
    }

    #titre_journal {
        width: 360px;
        margin: 4.5% auto;
    }
}

/*-----------------------------------DEBUT BLOC INFORMATIONS TRANSPORT-----------------------------------------*/

#bloc {
    height: 75%;
    /* background-color: red; */
}

.bloc2 {
    float: right;
    width: 60%;
    /* background-color: BLUE; */
    margin: 0 3%;
}

#presentation {
    width: 85%;
    display: flex;
    margin-top: 3%;
}

#info_filibus{
    font-size: 20px;
    width: 87%;
}

#logo_filibus {
    width: 13%;
}

#informations {
    /* width: 85%; */
    margin-right: 2%;
    margin-top: 1.2%;
}

#informations p {
    font-size: 20px;
    color: #2a376b;
}

#informations ul {
    font-size: 17px;
}

#coordonnees {
    width: 85%;
    margin-top: 3%;
    height: 45%;
}

#coordonnees p {
    font-size: 20px;
    color: #2a376b;
}

#coordonnees ul {
    font-size: 17px;
}

#coordonnees ul li {
    line-height: 2.4;
}

@media screen and (max-width: 1150px) {
    .bloc2 {
        margin-top: 5%;
        margin-bottom: 5%;
        margin-right: 1%;
        width: 95%;
        display: block;
    }
}

@media screen and (max-width: 476px) {
    #logo_filibus {
        display: none
    }

    #presentation {
        margin: 0 auto;
    }
}
/*-----------------------------------FIN BLOC INFORMATIONS TRANSPORT-----------------------------------------*/

/*----------------------------------- DEBUT DU CAROUSEL -----------------------------------------*/
#carousel {
    width: 60%;
    margin: auto;
    height: 100%;
    margin-bottom: 70px;
}

.carousel-control-prev-icon {
    background-color:#22316984;
}

.carousel-control-next-icon {
    background-color:#22316984;
}

.carousel-caption {
    color: #ffffff;
    background-color: #22316984;
    border-radius: 20px;
    width: 50%;
    left: 25%;
}

@media screen and (max-width: 1316px) {
    .carousel-caption h5 {
        font-size: 15px;
    }

    .carousel-caption p {
        font-size: 12px;
    }
}

@media screen and (max-width: 1150px) {
    .carousel-control-prev-icon {
        display: none;
    }
    
    .carousel-control-next-icon {
        display: none;
    }
    
}

/*----------------------------------- FIN DU CAROUSEL -----------------------------------------*/
