* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none !important;
    color: inherit !important;
}

body {
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    scroll-behavior: smooth;
}

.mapping {
    background-image: url(../../img/map/map.png);
    background-size: 100%;
    height: 600px;
    max-width: 639px;
    background-repeat: no-repeat;
    margin-top: 13px;
    z-index: 99;

}

#image_map {
    background-size: 100%;
    background-repeat: no-repeat;
    cursor: pointer;
}

img[usemap] {
    border: none;
    height: auto;
    max-width: 100%;
    width: auto;
}

area {
    outline: none;
}

/********************Debut Communes********************/
.titre-commune {
    margin: 50px 0 130px;
    display: flex;
    justify-content: center;
    color: #000000;
    font-family: Comfortaa;
    font-size: 35px;
    font-weight: 400;
}

.titre-commune::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 50%;
    background: rgba(0, 0, 0, 0.308);
    top: 20px;
}

.nos-communes {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
}

.description-choix {
    display: flex;
    flex-direction: column;
    width: 50%;
}

#choix-agglo {
    position: relative;
    bottom: 75px;
    margin: 0 auto;
    text-align: center;
    border-radius: 50px;
    width: 25%;
    background: #FFF;
    height: 30px;
    color: #000;
    font-family: Comfortaa;
    font-weight: bold;
    cursor: pointer;
}

#description-commune {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    border-radius: 30px;
    background: #F0EDED;
    max-height: 390px;
    overflow: auto;
    width: 70%;
}

#description-commune h4 {
    text-align: center;
    margin: 15px 0;
    color: #538E52;
    font-family: Comfortaa;
    font-size: 35px;
    font-weight: 700;
}

#description-commune p,
.liste-clef {
    display: flex;
    margin: 0 12px;
    color: #585858;
    font-family: Comfortaa;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
}

.img-description {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.liste-clef,
.contact-ville {
    flex-direction: column;
}

.contact-ville {
    text-align: center;
}

.lien-commune {
    cursor: pointer;
    margin-bottom: 12px;
    color: #007FFF !important;
    text-decoration: underline !important;
}

@media screen and (max-width: 1340px) {
    #choix-agglo {
        width: 40%;
    }
}

@media screen and (max-width: 1000px) {
    .nos-communes {
        flex-direction: column;
    }

    .description-choix {
        position: relative;
        top: 100px;
        width: 80%;
    }

    #choix-agglo {
        width: 40%;
        font-size: 20px;
    }

    #description-commune {
        width: 100%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 520px) {
    .mapping {
        height: 450px;
    }
}

@media screen and (max-width: 375px) {
    .mapping {
        height: 350px;
    }
}

/********************Fin Communes********************/