html {
    background-color: #d9d9d9;
    font-family: Arial, sans-serif;
}



.image_actu {
    border-radius: inherit;
    width: 96%;
    height: 50%;
    padding: 2%;

}

.image_actu p {
    border-radius: inherit;
    padding: 1% 3% 1% 3%;
    background-color: #538e52;
    border: solid white 0.05em;
    color: #ffffff;
    width: fit-content;
    position: relative;
    bottom: 25%;
    left: 2%;
}

.image_actu img {
    border-radius: inherit;
    object-fit: cover;
    width: 100%;
    height: 100%;
}



#actualites .texte_actus h1, #actualites .texte_actus p {
    margin: 0 2% 2% 2%;
}

#actualites .texte_actus h1 {
    color: #538e52;
}

#actualites .texte_actus p {
    color: #585858;
}



#actualites {
    #background-color: #ffffff;
    margin: 5% 10% 5% 10%;
    height: 600px;
    border-radius: 20px;
}

#actualites > * {
    border-radius: inherit;
    background-color: #ffffff;
    float: left;
}

#actualites > *:hover {
    background-color: #efefef;
}

#grande_actualite {
    border-radius: inherit;
    margin-right: 1%;
    height: 100%;
    width: 49%;
}

#moyenne_actualite {
    border-radius: inherit;
    margin: 0 0 1% 1%;
    width: 49%;
    height: 47%;
}

#petite_actualite_1 {
    border-radius: inherit;
    margin: 1% 1% 0 1%;
    width: 23%;
    height: 48%;
}

#petite_actualite_2 {
    border-radius: inherit;
    margin: 1% 0 1% 1%;
    width: 24%;
    height: 37%;
}



button { all: unset }

#toutes_les_actus {
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    font-family: Arial, sans-serif;

    background-color: #538e52;

    margin: 1% 0 0 1%;
    width: 24%;
    height: 6%;
}

#toutes_les_actus:hover {
    outline: revert;
    background-color: #53ae52;
}
