* {
    list-style: none;
}

body {
    background-color: #e7e7e7;
    font-family: Comfortaa, sans-serif;
}

/* ------------------------------------------------ DEBUT IMAGE DE BACKGROUND ------------------------------------------------ */
header {
    height: 100vh;
    width: 100%;
    background: url(../img/cathedrale.jpg);
    background-size: cover;
}

/* ------------------------------------------------ FIN IMAGE DE BACKGROUND ------------------------------------------------ */

/* --------------------------------------- DEBUT DE LA BARRE D'ACCES RAPIDE ----------------------------------------- */
.acces {
    display: flex;
    position: absolute;
    height: 22%;
    width: 50%;
    left: 25%;
    top: 70%;
    justify-content: center;
    align-items: center;
    background-color: #ffffffed;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.955);
}

.acces ul {
    text-align: center;
    margin: 0 21px;
    padding-top: 20px;
    font-size: 14.3px;
}

.acces ul img {
    margin-bottom: 13px;
}

.acces ul img:hover {
    transform: scale(1.13);
}

.acces ul p a {
    transition: color 1s;
    color: #274bb7ed;
}

.acces ul p a:hover {
    color: green;
}
/*----------Pour aligner verticalement les images-----*/
.acces ul:first-of-type img,
.acces ul:last-of-type img {
    margin-bottom: 15px;
}

.acces ul:first-of-type p {
    margin-bottom: 25px;
}

.acces ul:last-of-type p {
    margin-bottom: 35px;
}

@media screen and (max-width: 1420px) {
    .acces {
        justify-content: space-around;
    }

    .acces ul {
        margin-left: 0;
        margin-right: 0;
    }
}

@media screen and (max-width: 1080px) {
    .acces {
        width: 75%;
        left: 15%;
    }
}

@media screen and (max-width: 700px) {
    .acces {
        width: 90%;
        left: 5%;
    }
}

@media screen and (max-width: 630px) {
    .acces {
        flex-wrap: wrap;

    }

    .acces ul {
        padding: 0 15px;
    }
}

@media screen and (max-width: 558px) {
    .acces {
        height: 325px;
        top: 50%;
    }

    .acces ul {
        padding-top: 30px;
    }
}

/* ----------------------------------------- FIN DE LA BARRE D'ACCES RAPIDE ----------------------------------------- */

/* ----------------------------------------- DEBUT TEXTE ANIME ----------------------------------------- */
header h1 {
    position: absolute;
    top: 35%;
    left: 53%;
    width: 37%;
    font-family: "Gill Sans", "Gill Sans MT", sans-serif;
    font-style: italic;
    font-weight: 500;
    font-size: 40px;
    letter-spacing: 1px;
    color: #415192ab;
}

@media screen and (max-width: 1450px) {
    header h1 {
        font-size: 34px;
        left: 60%;
    }
}

@media screen and (max-width: 1250px) {
    header h1 {
        left: 10%;
    }
}

@media screen and (max-width: 900px) {
    header h1 {
        width: 55%;
    }
}

@media screen and (max-width: 558px) {
    header h1 {
        top: 25%;
        left: 25%;
    }
}
/* ----------------------------------------- FIN TEXTE ANIME ----------------------------------------- */

/* -------------------------------------------- PROPRIETES ACTUS/AGENDA ---------------------------------------------- */

#agenda, #actualites {
    border-radius: 20px;
    margin: 0 10% 0 10%;
}

#agenda {
    height: 60vh;
}

#actualites {
    height: 80vh;
}

@media screen and (max-width: 1000px) {
    #agenda, #actualites {
        margin-left: 5%;
        margin-right: 5%;
    }

    #actualites {
        height: 120vh;
    }

    #agenda {
        height: 90vh;
    }
}

/* ---------------------------------------------- TITRES AGENDA/ACTUS ------------------------------------------------ */

#titre_magazine, #titre_actualites {
    color: black;
    text-align: center;
    float: left;
    height: 3em;
    font-size: 1.5em;
    margin-top: 2em;
}

#titre_magazine {
    margin-left: 7%;
    width: 29%;
}

#titre_actualites {
    margin-right: 10%;
    margin-left: 2.5%;
    width: 50%;
}

#titre_agenda {
    text-align: center;
    padding: 0 10% 0 10%;
}

@media screen and (max-width: 1000px) {
    #titre_magazine {
        display: none;
    }

    #titre_actualites {
        margin-right: 5%;
        margin-left: 5%;
        width: 90%;
    }
}

/* ---------------------------------------------- IMAGES AGENDA/ACTUS ------------------------------------------------ */

.image_agenda, .image_actu {
    border-radius: inherit;
    height: 50%;
    width: 100%;
}

.image_actu {
    padding: 2%;
}

.image_agenda p, .image_actu p {
    border-radius: inherit;
    padding: 0.25em 0.5em 0.25em 0.5em;
    width: fit-content;
    position: relative;
    left: 2%;
}

.image_agenda p {
    background-color:  #f0eded;
    border: solid black 0.05em;
    bottom: 1.5em;
    color: #000000;
}

.image_actu p {
    background-color: #538e52;
    border: solid white 0.05em;
    bottom: 2.5em;
    color: #ffffff;
}

.image_agenda img, .image_actu img  {
    border-radius: inherit;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* ----------------------------------------------- TEXTE ACTUS/AGENDA ------------------------------------------------ */
#actualites .texte_actus h1, #actualites .texte_actus p {
    overflow: hidden;
    margin: 0 2% 2% 2%;
}

#actualites .texte_actus h1 {
    font-size: 150%;
    color: #538e52;
}

#actualites .texte_actus p {
    height: 70%;
    font-size: 100%;
    color: #585858;
    word-wrap: break-word
}

#agenda .texte_agenda h1, #agenda .texte_agenda h2 {
    margin: 7% 2% 0 2%;
    text-align: center;
    max-height: 40%;
    font-size: 150%;
}

#agenda .texte_agenda h1 {
    color: #585858;
    font-weight: bold;
}

#agenda .texte_agenda h2 {
    color: #585858;
    font-weight: lighter;
}

.texte_agenda, .texte_actus {
    height: 45%
}

@media screen and (max-width: 1000px) {
    #agenda .texte_agenda h1, #agenda .texte_agenda h2 {
        margin: 3% 1% 7% 1%;
        text-align: center;
        max-height: 2vh;
        font-size: 150%;
    }
}

/* ----------------------------------------------- BLOCS D'ACTUALITES ------------------------------------------------ */

#agenda > *, #actualites > * {
    border-radius: inherit;
    background-color: #ffffff;
    float: left;
}

#agenda > *:hover, #actualites > *:hover {
    background-color: #efefef;
}

#grand_journal {
    background-color: #efefef;
    margin-right: 2%;
    height: 100%;
    width: 33%;
}

#image_journal {
    object-fit: scale-down;
    width: 100%;
    height: 100%;
    padding: 2%;
}

#moyenne_actualite {
    margin: 0;
    width: 64%;
    height: 49%;
}

#petite_actualite_1 {
    margin: 1% 2% 0 0;
    width: 31%;
    height: 49%;
}

#petite_actualite_2 {
    margin: 1% 0 1% 0;
    width: 31%;
    height: 40%;
}

@media screen and (max-width: 1000px) {
    #agenda > *, #actualites > * {
        border-radius: inherit;
        background-color: #ffffff;
        margin: 1% 5% 1% 5%
    }

    #agenda > *:hover, #actualites > *:hover {
        background-color: #efefef;
    }

    #grand_journal {
        height: 15%;
        min-width: 90%;
    }

    #moyenne_actualite, #petite_actualite_1, #petite_actualite_2 {
        width: 90%;
        height: 25%;
    }
}


/* ------------------------------------------------ BLOCS DE L'AGENDA ------------------------------------------------ */

#grand_agenda {
    border-radius: inherit;
    margin-right: 1%;
    height: 100%;
    width: 49%;
}

#moyen_agenda_1 {
    border-radius: inherit;
    margin: 0 2% 0 1%;
    width: 23%;
    height: 100%;
}

#moyen_agenda_2 {
    border-radius: inherit;
    margin: 0 0 1% 0;
    width: 23%;
    height: 89%;
}

@media screen and (max-width: 1000px) {
    #grand_agenda, #moyen_agenda_1,  #moyen_agenda_2 {
        border-radius: inherit;
        width: 90%;
        height: 33%;
        margin: 1% 5% 1% 5%;
    }
}

/* ------------------------------------------- BOUTON PLUS D'ACTUS / AGENDA ------------------------------------------ */
#plus_actus, #plus_agenda {
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;

    background-color: #538e52;

    width: 23%;
    height: 7%;
}

#plus_actus {
    width: 31%;
}

#plus_actus:hover, #plus_agenda:hover {
    outline: revert;
    background-color: #53ae52;
}

@media screen and (max-width: 1000px) {
    #plus_actus, #plus_agenda {
        width: 90%;
        margin: 1% 5% 1% 5%;
    }
}

/* -------------------------------------------------- FIN ACTUS/AGENDA ----------------------------------------------- */
/*-----------------------------------------Debut Chiffre cles-----------------------------------------*/
#container-liste {
    background-color: white;
}

#liste-chiffre {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

#liste-chiffre li {
    text-decoration: none;
    text-align: center;
    font-size: 55px;
    margin: 30px 0;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #585858;
}

#liste-chiffre p {
    font-size: 25px;
    padding-bottom: 15px;
    border-bottom: 1px solid #538e52a7;
    color: #585858;
}

.num {
    color:#0e470ea7;
    font-size: 50px;
}

@media screen and (max-width: 720px) {
    #liste-chiffre {
        flex-direction: column;
    }

    #liste-chiffre li {
        flex-direction: column;
        width: 50%;
        margin: 30px auto;
    }

    #titre-chiffre {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 422px) {
    #liste-chiffre li:nth-child(2) {
        font-size: 50px;
    }
}
/*-----------------------------------------Fin Chiffre cles-----------------------------------------*/

/*-----------------------------------------Debut Communes-----------------------------------------*/

.titre1 {
    color: #323488;
    font-family:'Trebuchet MS';
    font-size: 35px;
    font-weight: 400;
    text-align: center;
    margin: 40px auto;
    border-top: 1px solid rgb(23, 32, 113) ;
    padding-top: 30px;
    width: 70%;
    display: flex;
    flex-direction: column;
}

.titre2 {
    color: #323488;
    font-family:'Trebuchet MS';
    letter-spacing: 1.3px;
    font-size: 35px;
    margin: 40px auto;
    width: 100%;
    display: table;
    white-space: nowrap;
    text-align: center;
}

.titre2:before, .titre2:after {
    content: "";
    display: table-cell;
    width: 600px; /*ecartement des espace */
    background: url(data:image/gif;base64,R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs=) repeat-x left center;
}


iframe {
    width: 100%;
    height: 80%;
}

@media screen and (max-width: 1000px) {
    iframe {
        height: 150%;
    }

    .titre-commune {
        margin-bottom: 15px;
    }
}


.titre:before, .titre-:after {
    content: "";
    display: table-cell;
    width: 600px; /*ecartement des espace */
    background: url(data:image/gif;base64,R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs=) repeat-x left center;
}


iframe {
    width: 100%;
    height: 80%;
}

@media screen and (max-width: 1400px) {
    .titre-commune:before, .titre-commune:after {
        width: 37%; 
    }
}

@media screen and (max-width: 1000px) {
    iframe {
        height: 150%;
    }

    .titre-commune {
        margin-bottom: 15px;
    }

    .titre-commune:before, .titre-commune:after {
        width: 33%; 
    }
}

@media screen and (max-width: 750px) {
    .titre-commune:before, .titre-commune:after {
        width: 20%; 
    }
}

/*-----------------------------------------Fin Communes-----------------------------------------*/
